
body {
  background-image: url("https://cdn.shopify.com/s/files/1/0256/4358/1486/files/CTV3_Merch8.jpg?v=1598166643");
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.topnav {
  overflow: hidden;
  background-color: #ff9999;
  font-family: Times New Roman;
}

.topnav a {
  float: center;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
  transition: 2s;
}

.topnav a:hover {
  background-color: #ffffff;
  color: purple;
  transition: 2s;
}

.topnav a.active {
  background-color: #ffcccc;
  color: white;
}