body {
  background-image: url("https://cdn.shopify.com/s/files/1/0256/4358/1486/files/CTV3_Merch8.jpg?v=1598166643");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.h1{
font-family: sans-serif ; 
background-color: #FFE6E8;
padding: 40px 15px;
font-size: 50px;
}
table, th, td {
  width: 50%;
  height: 70px;
  background-color:   #DAEADE;
  font-family: sans-serif;

}
th, td {
  text-align: center;
}
.test{
  color: hotpink;
  text-decoration: none;
  font-size: 40px;
  transition: 0.25s;
}

.test:hover {
  color: white;
  transition: 0.25s;
}

.imageabah {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.topnav {
  overflow: hidden;
  background-color: #ff9999;
  font-family: sans-serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.25s;
}

.topnav a:hover {
  background-color: #ffffff;
  color: #E799A3;
  transition: 0.25s;
}

.topnav a.active {
  background-color:#ffcccc;
  color: white;
}